In [2]:
pip install folium --quiet
pip install pandas numpy matplotlib --quiet

Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 22.2.2 is available.
You should consider upgrading via the 'f:\REPOSITORY\major_project\env\Scripts\python.exe -m pip install --upgrade pip' command.

In [55]:
import pandas as pd
stages_data = pd.read_csv("Route-U102.csv")

In [56]:
stages_data.head()

  Route - U102 SOG COLONY TO SHAMANUR Unnamed: 2 Unnamed: 3
0          NaN                  Stops        Lat       Long
1        Stage             SOG COLONY  14.427362   75.94025
2        Stage            SS HOSPITAL  14.432749  75.940659
3          NaN         SS HOSPITAL Rd  14.437659  75.939536
4          NaN        Sai Baba Temple  14.438804  75.938658

In [57]:
stops = stages_data.iloc[1:,1:]

In [59]:
stops.rename(columns = {'SOG COLONY TO SHAMANUR':'stops', 'Unnamed: 2':'Lat','Unnamed: 3':'Long'}, inplace = True)
stops.head()

              stops        Lat       Long
1        SOG COLONY  14.427362   75.94025
2       SS HOSPITAL  14.432749  75.940659
3    SS HOSPITAL Rd  14.437659  75.939536
4   Sai Baba Temple  14.438804  75.938658
5  SS hitech layout  14.440534  75.937227

In [60]:
import folium

In [61]:
mp = folium.Map(location=[14.427362,75.94025] , zoom_start=14)
tooltip  ='Click for more info'

In [62]:
for ind in stops.index:
    print(stops['stops'][ind])

SOG COLONY
SS HOSPITAL
SS HOSPITAL Rd
Sai Baba Temple
SS hitech layout
SJAYANAGARA
Jayanagara B Block
Kalidasa circle
Church Jayanagara
SBHAGI/KALI
Sakthi Nagar
Banashankri temple
DCM 2nd stop
DCM 2nd stop
DCM water tank
Boomika Nagar
DCM
APMC Gate
KSRTC NEW BUS Stand
Aahar
Old Bus Stand
Railway station
Harihar bus stop
KSRTC Temporary Bus stand
AVK College
SKEB/VBHAVAN
Shamnur rd
CGHOSPITAL
Water Tank
LAKSHMIFLOO
SS Mall
Karnataka Bank
Bapuji samuthaya Bhavan
Bottle Building
SHAMANUR

In [63]:
radi = 800
for ind in stops.index:
    folium.Marker([stops['Lat'][ind] , stops['Long'][ind]],tooltip=stops['stops'][ind]).add_to(mp)
    folium.Circle([stops['Lat'][ind] , stops['Long'][ind]],
                        radius=radi
                    ).add_to(mp)

In [ ]:
mp.save("map.html")